.beer {
  display: flex;
  flex-direction: column;
  margin-top: 2em;
  font-weight: bold;
}

.like-btn {
  padding-bottom: .5em;
  margin-top: .5em;
  width: 8em;
}

.dislike-btn {
  width: 8em;
}

.like-div {
  padding-bottom: .5em
}

.add-beer {
  display: flex;
  justify-content: center;
  width: 20%;
  height: 20%;
  background-color: blue;
  color: white;
}

.add-beer-to-cooler {
  padding-bottom: 1em;
}

.beer-input {
  padding-bottom: 1em;
}

.done-adding-beer {
  color: white;
  background-color: purple;
}

button {
  cursor: pointer;
  font-weight: bold;
  font-size: 12pt;
  color: white;
}
